@import "styles/variables";

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="box_"] {
    float: left;
    padding: 10px;
}

.perfil {
    background-color: $antique_brass;
    padding: 10px;
    border-radius: 20px;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    margin-bottom: 20px;
}

.skills {
    background-color: $antique_brass;
    padding: 10px;
    border-radius: 20px;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    margin-bottom: 20px;
}

.commits {
    background-color: $antique_brass;
    padding: 10px;
    border-radius: 20px;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.menu {
    display: flex;
    flex-direction: column;
    background-color: $xiketic;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    height: calc(100vh - 20px);
    justify-content: center;
}

.menu a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    background-color: $antique_brass;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    cursor: pointer;
    height: 88px;
}

.menu a:hover {
    background-color: $pale_silver;
}

.menu button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    background-color: $antique_brass;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    cursor: pointer;
    border: none;
    height: 88px;
}

.menu button:hover {
    background-color: $pale_silver;
}

.menu button:last-child {
    margin-bottom: 0;
}

.content {
    background-color: $antique_brass;
    padding: 10px;
    border-radius: 20px;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    height: calc(100vh - 20px);
}

/* For mobile phones: */
[class*="box_"] {
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .menu {
        display: flex;
        flex-direction: row;
        background-color: $xiketic;
        padding: 10px;
        border-radius: 20px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        height: 80px;
    }

    .menu a {
        border-radius: 20px;
        width: 30%;
        margin-right: 10px;
        margin-bottom: 0;
        height: 60px;
    }

    .menu a:last-child {
        margin-right: 0;
    }

    .menu button {
        border-radius: 20px;
        width: 30%;
        margin-right: 10px;
        margin-bottom: 0;
        height: 60px;
    }

    .menu button:last-child {
        margin-right: 0;
    }

    .content {
        height: 100%;
    }
}

@media only screen and (min-width: 768px) {
    .box_menu {
        width: 8%;
    }
    
    .box_perfil {
        width: 26%;
    }
    
    .box_content {
        width: 66%;
    }
}
