@import "styles/variables";

.certifications {
    display: flex;
    flex-direction: column;
    h1 {
        font-size: 25px;
        margin-bottom: 10px;
    }
}

.certifications_box {
    display: flex;
}