@import "styles/variables";

.card {
    display: flex;
    border-radius: 20px;
    background-color: $caput_mortuum;
    margin-right: 5px;
    padding: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    margin-bottom: 10px;
}

.photo {
    border-radius: 20px;
    height: 60px;
}

.link {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $antique_brass;
    border-radius: 20px;
    padding: 5px;
}

.link:hover {
    background-color: $pale_silver;
}

.link_icon {
    color: $white_coffe;
}

.info {
    padding: 5px;
    h2 {
        font-size: 15px;
        text-align: left;
        margin-bottom: 5px;
    }
    p {
        font-size: 12px;
        text-align: left;
        margin-bottom: 2px;
    }
}